/******* GERAL *******/

body{
	margin:0;
	padding:0;

	font-family:Arial Narrow, Arial, sans-serif;
}

	p {
	font-size: 13px;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0;
}


/**** PAGINA INICIAL ****/
.svg-container { 
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content { 
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

/**** PÁGINAS DE VÍDEO****/
.caption{
  top: 0px;
  display:none;
}

#wrapper{
	height: 100%;
	width: 100%;
	margin: 0;
	overflow: hidden;
	position: absolute;
}
/* CSS DOS VÍDEOS */

.video-container{
height: 100%;
width: 100%;
}

.videoContainer{
	width:600px;
	height:350px;
	position:relative;
	overflow:hidden;
	background:#000;
	color:#ccc;
}


.caption{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	padding:10px;
	color:#ccc;
	font-size:20px;
	font-weight:bold;
	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #1F1F1F; /* fallback */
	background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}

/* BARRA DE CONTROLES */
.control{
	color:#ccc;
	position:absolute;
	left:0;
	right: 0;
	margin:auto;
	width:80%;
	z-index:5;
	display:none;
	min-width: 600px;
}



/* control top part */
.topControl{
	height:11px;
	border-radius: 10px;
	margin-bottom: -1px;
}

/* control bottom part */
.btmControl{
	clear:both;
	background: #1F1F1F; /* fallback */
	background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	border-radius: 10px;
	height: 40px;
}
.control div.btn {
	float:left;
	width:34px;
	height:30px;
	padding:0 5px;
	border-right:1px solid #404040;
	cursor:pointer;
	margin-top: 5px;
}

.control div.text{
	font-size:12px;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	font-family:verdana;
	width:20px;
	border:none;
	color:#777;
}
.control div.btnPlay{
	background:url(control.png) no-repeat 0 0;
}
.control div.paused{
	background:url(control.png) no-repeat 0 -30px;
}
.control div.sound{
	background:url(control.png) no-repeat -88px -30px;
	border: none;
}
.control div.spdText{
	border:none;
	font-size:14px;
	line-height:30px;
	font-style:italic;
	width: auto;
	margin-left: 5px;
}
.control div.selected{
	font-size:15px;
	color:#ccc;
}

.control div.sound2{
	background:url(control.png) no-repeat -88px -60px !important;
border: none;
}
.control div.muted{
	background:url(control.png) no-repeat -88px 0 !important;
}
.control div.btnFS{
	background:url(control.png) no-repeat -44px 0;
	float:right;
	border-right: none !important;
}
.control div.FSbtn{
	background:url(control.png) no-repeat -44px 0;
	float:right;
	border-right: none !important;
}
.control div.btnLight{
	background:url(control.png) no-repeat -44px -60px;
	border-left:1px solid #404040;
	float:right;
}
.control div.lighton{
	background:url(control.png) no-repeat -44px -30px !important;
}

/* Progress bar */
.progress {
	width:100%;
	height:10px;
	position:relative;
	float:left;
	cursor:pointer;
	background: #444; /* fallback */
	background:-moz-linear-gradient(top,#666,#333);
	background:-webkit-linear-gradient(top,#666,#333);
	background:-o-linear-gradient(top,#666,#333);
	box-shadow:0 2px 3px #333 inset;
	-moz-box-shadow:0 2px 3px #333 inset;
	-webkit-box-shadow:0 2px 3px #333 inset;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.progress span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.timeBar{
	z-index:10;
	width:0;
	background: #3FB7FC; /* fallback */
	background:-moz-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-webkit-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-o-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	box-shadow:0 0 1px #fff;
	-moz-box-shadow:0 0 1px #fff;
	-webkit-box-shadow:0 0 1px #fff;
}
.bufferBar{
	z-index:5;
	width:0;
	background: #777;
	background:-moz-linear-gradient(top,#999,#666);
	background:-webkit-linear-gradient(top,#999,#666);
	background:-o-linear-gradient(top,#999,#666);
	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
}

/* time and duration */
#time{
	float: right;
	width:auto;
	text-align:center;
	font-size:11px;
	line-height:30px;
	margin-right: 5px;
	border-right: none;
}

.current, .duration {
	width: auto !important;
}

/* volume bar */
.volume{
	position:relative;
	cursor:pointer;
	width:70px;
	height:10px;
	float: left;
	margin-top:15px;
	margin-right:10px;
	display: none;
}
.volumeBar{
	display:block;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#eee;
	z-index:10;
	border-radius: 10px;
}

/* BARRA LATERAL*/
.configmochila{
    width: 100%;
    margin: 0 auto; 
	background-color: #383838;
padding-top: 2.5px;
padding-bottom: 2.5px;
margin-bottom: 4px;
}

.configmochila p{
	margin-left: 0px;
}

.barralateral {
position: absolute;
right: 30px;
top: 50px;
height: 147px;
width: 60px;
border-radius: 10px;
	background: rgba(48,48,48,1);
background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,48,48,1)), color-stop(57%, rgba(31,31,31,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
}

.vidinvent{
	display: block;
}

.preview, .vid1{
z-index: 15;
width: 200px;
height: 140px;
border-radius: 70px;
	background: rgba(48,48,48,1);
background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,48,48,1)), color-stop(57%, rgba(31,31,31,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);

	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
	top: -145px;
	left: 156px;
	position: absolute;
	display: none;
}
.link {
background:url(tipos.jpg) no-repeat;
width: 170px;
height: 110px;
border-radius: 70px;
top: 15px;
	left: 15px;
	position:absolute;
}

.vid1 {
	background-size: 110px 75px;
    border-radius: 100px;
    width: 90px;
    height: 60px;
    top: 57px;
    left: 10px;
    background-position-x: center;
    display: block;
}

#transp{
z-index: 15;
width: 40px;
height: 5px;
background: transparent;
	top: -5px;
	left: 237px;
	position: absolute;
	display: none;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.barralateral div.btn {
	width:40px;
	height:40px;
	padding:0 0 0 5px;
	margin: 0px 0px 10px 10px;
	border-bottom:1px solid #404040;
	cursor:pointer;
}

.barralateral div.home{
	background:url(lateral.png) no-repeat -7px -2px;
	margin-bottom: 10px;
    margin-top: 5px;

}
.barralateral div.mochila{
	background:url(lateral.png) no-repeat -7px -45px;
	padding-bottom: 5px;
    margin-top: 10px;
}
.barralateral div.mapa{
	background:url(lateral.png) no-repeat -50px -4px;
	margin-top: -5px;
}
.barralateral div.share{
	background:url(lateral.png) no-repeat -52px -47px;
	margin-bottom: 0px;
	margin-top: -10px;
	border-bottom: none;
}

.botoes div.btn {
	width:40px;
	height:40px;
	padding:0 0 0px 5px;
	margin: 0px 0px 10px 8px;
	border-bottom:1px solid #404040;
	cursor:pointer;
}

.botoes div.twitter{
	background:url(social.png) no-repeat -7px -45px;
	margin-bottom: -2px;
    margin-top: 7px;
	border-bottom: none;
}
.botoes div.facebook{
	background:url(social.png) no-repeat -7px -2px;
	padding-bottom: 3px;
    margin-top: 4px;
	border-bottom: none;
}

.botoes div.google{
	background:url(social.png) no-repeat -52px -47px;
	margin-bottom: 0px;
	margin-top: -7px;
	border-bottom: none;
}

#config{
z-index: 15;
width: 160px;
height: 40px;
border-radius: 15px;
	background: rgba(48,48,48,1);
background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,48,48,1)), color-stop(57%, rgba(31,31,31,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);

	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
	top: -43px;
	left: 640px;
	position: absolute;
	display: none;
		cursor:pointer;
}


.configurar{
	padding-left: 10px;
}

.configfig{
	cursor: pointer;
	text-align: center;
}

#legendas, #qualidade, #velocidade{
	display: none;
}


.configurar:hover{
	background-color: #000;
border-radius: 15px;


}
/* botoes compartilhamento */

#transp2{
z-index: 15;
width: 5px;
height: 48px;
background: black;
	top: 145px;
	left: -5px;
	position: absolute;
	display: block;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.botoes{
z-index: 15;
width: 55px;
height: 140px;
border-radius: 15px;
	background: rgba(48,48,48,1);
background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,48,48,1)), color-stop(57%, rgba(31,31,31,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);

	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
	top: 8px;
	left: -60px;
	position: absolute;
	display: none;

}

.vidmochila{
z-index: 15;
width: 200px;
height: 140px;
border-radius: 15px;
	background: rgba(48,48,48,1);
background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,48,48,1)), color-stop(57%, rgba(31,31,31,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);

	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
	top: 8px;
	left: -205px;
	position: absolute;
	display: none;
	overflow: hidden;

}

#legendas, #qualidade, #velocidade {
z-index: 15;
width: 60px;
height: 60px;
border-radius: 15px;
	background: rgba(48,48,48,1);
background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,48,48,1)), color-stop(57%, rgba(31,31,31,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);

	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
	top: -63px;
	left: 740px;
	position: absolute;
	display: none;
		cursor:pointer;

}

#velocidade {
	height: 120px;
	top: -123px;
}

#proxjor a{
cursor: pointer;
}

/* JANELA VÍDEO EXTRA  */
span.bolinha{
	z-index: 15;
	width: 10px;
	left: 250px;
	background: #cc3300;
	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;

}



/* video screen cover */
.loading, #init{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(loading.gif) no-repeat 50% 50%;
	z-index:2;
	display:none;
}

/* outras coisas*/

.bla{
display: inline;
cursor: pointer;
position: absolute;
    border-style: dashed;
    border-color: #000000;
    z-index: 1;
}

.ble{
  display:none;
  position: absolute;
    border-style: dashed;
    border-color: #000000;
    z-index: 1;
}

#proxjor{
		left:0;
	right: 0;
	margin:auto;
border-radius: 15px;
	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;

cursor: default;

}


.wind{
	z-index: 15;
	width: 200px;
	height: 100px;
	top: -95px;
	right: 0px;
	background: rgba(48,48,48,1);
background: -moz-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(48,48,48,1)), color-stop(57%, rgba(31,31,31,1)), color-stop(100%, rgba(23,23,23,1)));
background: -webkit-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -o-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: -ms-linear-gradient(left, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
background: linear-gradient(to right, rgba(48,48,48,1) 0%, rgba(31,31,31,1) 57%, rgba(23,23,23,1) 100%);
box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	position: absolute;
	display:none;
border: none;

border-radius: 20px;
}

.wind2{
z-index: 15;
width: 200px;
height: 10px;
background: transparent;
	top: 5px;
	right: 0px;
	position: absolute;
	display: block;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.mCSB_dragger{
  height: 50px !important;
}
.mCSB_container {
    margin-right: 0px !important;
}